.imageContainer {
  position: relative;
  width: 100%;
  padding: 20px;
  /* height: 450px; */
}

@media (min-width: 640px) {
  /* For devices with a minimum width of 640px (sm) */
  .imageContainer {
    height: 450px;
    object-fit: contain;
  }
}

@media (min-width: 768px) {
  /* For devices with a minimum width of 768px (md) */
  .imageContainer {
    height: auto;
    object-fit: contain;
  }
}

.roundedTop {
  border-top-left-radius: 0.75rem; /* Match tailwind's rounded-t-xl */
  border-top-right-radius: 0.75rem;
}

.card {
  border: solid;
  border-color: #feb236;
}

.eventsContainer {
  padding: 20px;
}

.EventHeadings {
  color: #feb236;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.noEvents {
  color: #feb236;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  border: solid;
  border-color: #feb236;
  border-radius: 10px;
  padding: 20px;
}
