.eventsSection {
  color: #643a4e;
}
.logo {
  border: solid;
  border-radius: 10px;
}

.mySelf {
  color: #643a4e;
  padding: 20px;
  /* background-color: black; */
  border-color: #643a4e;
}

.testimonialCarousel {
  border: solid;
  border-color: #643a4e;
  border-radius: 10px;
}

.testimonialSection {
  padding: 20px;
}

.textColour {
  color: #643a4e;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contactForm {
  padding: 30px;
  /* background-color: black; */
  border-color: #643a4e;
  color: #643a4e;
  border-radius: 10px;
}

.card {
  border-color: #643a4e;
  color: #643a4e;
  border: solid;
}

.btn {
  background-color: #643a4e;
  color: white;
}

.fontColour {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.collectionCard {
  /* border-radius: 20px; */
  border-color: #643a4e;
}

.myTickets {
  border-color: #643a4e;
  color: #643a4e;
  border: solid;
  border-radius: 20px;
}

.workHeadings {
  color: #643a4e;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.eventDetailsImage {
  width: 100%;
  height: 100%;
  /* background-position: top; */
}
.workHeadings {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  /* margin-top: 25px; */
}
.experienceHeading {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  margin-top: -40px;
  font-size: 2.5rem;
}

.projectsHeading {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  margin-top: 40px;
  font-size: 2.5rem;
}

.experienceGrid {
  gap: 12rem;
  margin-top: 5rem;
}
